body {
    background-color: #00008B;
    margin-top: 0;
    margin-bottom: 0;
    right: 180px;
    margin: auto;
}
* {box-sizing: border-box}

/*akun*/
.container {
  padding: 16px;
  width: 900px;
  margin: auto;
  background-color: #ddd;
}
/*all pages except akun*/
.wadah {
  width: 900px;
  background-color: #ddd;
  margin: auto;
  position: relative;
}
.header {
  height: 300px;
  background-image: url(gambar/q.png);
  background-color: black;
  background-size: 100%;
  background-position: center;
}
.nav {
  background-color: #333;
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #fa4454;
  color: black;
}

.nav a.active {
  background-color: #b38c8f;
  color: black;
}

.nav .icon {
  display: none;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: whitesmoke;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
  background-color: #dc3d4b;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  height: 90px;
}

#kata {
  background-color: #b38c8f;
  text-align: center;
  color: black;
  padding-top: 50px;
  height: 100px;
  font-size: 20px;
}

#clock {
  background-color: #b38c8f;
  text-align: center;
  color: black;
  font-size: 20px;
  height: 10px;
  padding-bottom: 100px;
  border-bottom: 1px solid white;
}

.jett {
  width: 300px;
  height: 450px;
  background-image: url(gambar/Jett_artwork.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute  ;
  text-indent: -9999px;
  top: 1530px;
  left: -40px;
  opacity: 60%;
}

.sage {
  width: 300px;
  height: 450px;
  background-image: url(gambar/Sage_artwork.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  top: 900px;
  left: -40px;
  opacity: 60%;
}

#content {
  width: 80%;
  height: 1350px;
  float: right;
  margin-top: 90px;
  font-size: 16px;
  border-right: 1px solid white;
  background-color: #ddd;
  padding: 6px 10px 15px 10px;
  /* position: relative; */
}

#content p, #sidebar p {
  text-align: justify;
}

.sidebar {
  margin-top: 0;
  width: 20%;
  height: 950px;
  float: left;
  font-size: 16px;
  background-color: #ddd;
  padding: 6px 10px 15px 10px;
}

.sidebar img {
  position: absolute;
  width: 150px;
  left: 20px;
  margin-top: 40px;

}

.image {
  height: 970px;
  padding: 6px 10px 15px 10px;
  text-align: justify;
}

.chamber {
  width: 300px;
  height: 450px;
  background-image: url(gambar/chamber.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  top: 1700px;
  left: 600px;
  opacity: 60%;
}

.viper {
  width: 300px;
  height: 450px;
  background-image: url(gambar/viper.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  top: 1700px;
  left: 420px;
  opacity: 60%;
}

.gallery {
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 10px;
}

.gallery p {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px white;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: justify;
  height: 250px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; 
}

input[type=submit] {
  background-color: #dc3d4b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #04AA6D;
}

.piring {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.reyna {
  width: 300px;
  height: 585px;
  background-image: url(gambar/reyna.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  top: 850px;
  left: 595px;
  opacity: 30%;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.piring img{
  float: left;
  width: 270px;
  padding-bottom: 50px;
  padding-right: 10px;
}

.piring ul li {
  text-align: justify;
}

.piring ul li a {
  color: #dc3d4b;
  text-decoration: none;
}

.piring p {
  text-align: justify;
}

#about p {
  padding-top: 60px;
  text-align: justify;
  padding-right: 10px;
}

#about a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

* {box-sizing: border-box}

.bungkus {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  width: 50%;
  border-radius: 10px;
  max-width: 300px;
}

.poto {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bar h1{
  padding-left: 10px;
}

.bar img {
  width: 250px;
  padding: 50px 10px;
}
.overlay {
  clear: both;
  position: absolute;
  bottom: 0;
  background: rgba(70, 38, 251, 0.669);
  background: rgba(70, 38, 251, 0.669);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.bungkus:hover .overlay {
  opacity: 1;
}

.cypher {
  width: 300px;
  height: 300px;
  background-image: url(gambar/valorant-collectible-3-spray.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  top: 650px;
  left: 650px;
  opacity: 35%;
}

.kalimat {
  float:right;
}

.footer {
  background-color: black;
  height: 80px;
  padding-top: 15px;
  clear: both;
}

.footer p {
  color: #ddd;
  text-align: center;
  font-size: 16px;
}